{{- if and .Values.secrets.enabled .Values.secrets.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ ternary .Values.secrets.name (printf "mindroom-api-keys-%s" .Values.customer) (ne .Values.secrets.name "") }}
  namespace: mindroom-instances
type: Opaque
{{- if .Values.secrets.data }}
data:
{{- range $k, $v := .Values.secrets.data }}
  {{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
{{- if .Values.secrets.stringData }}
stringData:
{{- range $k, $v := .Values.secrets.stringData }}
  {{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
{{- end }}
