---
apiVersion: v1
kind: Service
metadata:
  name: cert-manager-webhook-porkbun
  namespace: cert-manager-webhook-porkbun
  labels:
    app: cert-manager-webhook-porkbun
spec:
  type: ClusterIP
  ports:
  - port: 443
    targetPort: https
    protocol: TCP
    name: https
  selector:
    app: cert-manager-webhook-porkbun
