---
# RBAC for webhook
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cert-manager-webhook-porkbun
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
- apiGroups:
  - acme.porkbun.com
  resources:
  - '*'
  verbs:
  - create
  - get
  - update
